.CustomerInfo {
    box-sizing: border-box;
    margin: auto;
    width: 100%;
}

.CustomerInfo input {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    height: 2.5rem;
    margin-top: 0.3rem;
    outline: none;
    padding: 1rem;
    width: 100%;
}

.CustomerInfo label {
    display: block;
    margin: 1rem 0 0;
}

.CustomerInfo p {
    font-size: 1.5rem;
    margin: 0.5rem auto 0;
}

#PhoneThree {
    margin: 0 0.5rem;
    width: 55px;
}

#PhoneFour {
    width: 62px;
}

@media (min-width: 700px) {
    .CustomerInfo {
        display: flex;
        justify-content: space-evenly;
    }

    .NameAndNumber {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }

    .Address {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}