.Slider {
    margin: 1rem auto;
}

.Slider label {
    color: white;
    display: block;
    font-weight: bold;
}

.Slider input {
    appearance: none;
    background: #d3d3d3;
    border-radius: 32px;
    height: 20px;
    opacity: 0.7;
    outline: none;
    transition: opacity 0.2s;
    width: 85%;
}

.Slider input:hover {
    opacity: 1;
}

.Slider input::-webkit-slider-thumb {
    appearance: none;
    background: #08acac;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.Slider button {
    background: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0.2rem;
    outline: none;
    transition: all 0.4s ease-out;
}

.Slider button:hover {
    cursor: pointer;
}

.SliderBar {
    display:flex;
    justify-content: center;
    margin: 0.5rem 0;
}