.Avatar {
    background: #2f2519;
    border: 6px solid #ff4301;
    border-radius: 32px;
    height: 10rem;
    position: relative;
    width: 10rem;
}

.Avatar img {
    bottom: -1%;
    left: -8%;
    position: absolute;
}