/* ::-webkit-scrollbar {
    display: none;
} */

.GrumpyGoomber h1 {
    color: white;
    line-height: 1.5;
    margin: 2.5rem;
}

.GrumpyGoomber button {
    background: white;
    border: 4px solid #eee;
    border-radius: 32px 32px 16px 16px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.5);
    color: #ccc;
    font-family: inherit;
    font-size: 1.5rem;
    margin: auto;
    padding: 1rem 2rem;
    transition: all 0.2s ease-out;
}

.GrumpyGoomber button:hover {
    background: #ccc;
    border: 4px solid white;
    box-shadow: 0 1px 4px 2px rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.GrumpyGoomber {
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

.HiddenFloor {
    bottom: 0;
    position: fixed;
    width: 100%;
}

@keyframes :global(auto-scroll) {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes :global(hidden-scroll) {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(50%);
    }
    100% {
        transform: translateX(0%);
    }
}