.Challenger {
    background: #1b1b2f;
    border-radius: 50%;
    height: 10rem;
    position: relative;
    transition: all 0.5s ease-out;
    width: 10rem;
}

.Challenger h1 {
    color: white;
    font-family: "Press Start 2P", cursive;
    font-size: 6rem;
    margin: 2.5rem 0 0 0.6rem;
    text-align: center;
}

.Challenger img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}